@{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incoming - CvSU Bacoor Campus Enrollment System</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    @Styles.Render("~/Content/styleRegForm.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



</head>
<body>
    <div class="hello container-xl  justify-content-center col-9  col-lg-8 pt-4 pb-1">
        <div class=" mt-3 ms-4">
            <h2>Registration Form for Incoming 1st year students.</h2>
            <div class="mt-2">
                <small class="text-danger">* Required.</small>
                <p><small class="text-danger">Please prepare your important documents (Good Moral and Form 137).</small></p>
            </div>
        </div>
        
       
    </div>

    <div class="container-xl col-10 col-lg-9 justify-content-center mt-1 p-5">
        <div class="form-group mt-1 ps-3 py-4">
            <label for="exampleInputEmail1"><strong>Email address</strong></label>
            <div class="col-8">
                <input type="email" class="form-control form-control-lg text mt-3" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="lName"><strong>Last Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="lName" placeholder="Enter last name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="fName"><strong>First Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="fName" placeholder="Enter first name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="age"><strong>Middle Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="age" placeholder="Enter middle name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="mName"><strong>Age</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="mName" placeholder="Enter age">
            </div>
        </div>

        <!--gender-->
        <div class="form-group mt-4 ps-3 py-4">
            <label><strong>Sex at birth</strong></label>
            <div class="form-check mt-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioGenderMale">
                <label class="form-check-label" for="flexRadioDefault1">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioGenderFemale">
                <label class="form-check-label" for="flexRadioDefault2">
                    Female
                </label>
            </div>
        </div>

        <!--birthdate-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="lastName"><strong>Date of birth</strong></label>
            <div class="col-5 pb-2">
                <input placeholder="Selected date" type="date" id="date-picker-example" class="form-control datepicker mt-3">
            </div>
        </div>

        <!--address-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="address"><strong>Address</strong></label>
            <div class="col-9 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="address" placeholder="Enter address">
            </div>
        </div>

        <!--phonenumber-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="phoneNo"><strong>Phone Number</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="phoneNo" placeholder="Enter Phone Number">
            </div>
        </div>

        <!--schooladdress-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="schoolAddress"><strong>Previous School Address</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="address" placeholder="Enter School Address">
            </div>
        </div>

        <!--schoolname-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="schoolName"><strong>Previous School Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="schoolName" placeholder="Enter School Name">
            </div>
        </div>

        <!--zipcode-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="zipCode"><strong>Zip Code</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="zipCode" placeholder="Enter Zip Code">
            </div>
        </div>

        <!--School Year-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="schoolYear"><strong>School Year</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="zipCode" placeholder="Enter School Year">
            </div>
        </div>

        <!--gpa-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="gpa"><strong>GPA</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="gpa" placeholder="Enter GPA">
            </div>
        </div>

        <!--Course First Choice-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="firstChoice"><strong>First Choice Course </strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="firstChoice" placeholder="Enter First Choice">
            </div>
        </div>

        <!--Course Second Choice-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="secondChoice"><strong>Second Choice Course </strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="secondChoice" placeholder="Enter Second Choice">
            </div>
        </div>

        <!--Course Third Choice-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="thirdChoice"><strong>Third Choice Course </strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="thirdChoice" placeholder="Enter Third Choice">
            </div>
        </div>


        <!--Good Moral and form 137-->
        <div class="form-group mt-4 ps-3 py-4">
            <div>
                <strong>Documents</strong>
            </div>

            <label for="goodMoralFile" class="form-label mt-3">Attach a clear photo of your Good Moral.</label>
            <div class="col-8 pb-2">
                <input class="form-control" type="file" id="goodMoralFile">
            </div>
            <label for="form137File" class="form-label mt-2">Attach a clear photo of your Form 137.</label>
            <div class="col-8 pb-2">
                <input class="form-control" type="file" id="form137File">
            </div>
        </div>


        <!--*Parents Guardian info-->
        <div class="parentguardian container-xl mt-5 pt-1 pb-1">
            <h2 class=" pt-1 mt-2 ms-2">Parental Information</h2>
        </div>

        <!--Mother information-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="motherName"><strong>Mother's Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="motherName" placeholder="Enter Mother's Name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="motherAddress"><strong>Address</strong></label>
            <div class="col-9 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="motherAddress" placeholder="Enter address">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="motherEmail"><strong>Mother's Email address</strong></label>
            <div class="col-8">
                <input type="email" class="form-control form-control-lg text mt-3" id="motherEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="motherPhoneNo"><strong>Mother's Phone Number</strong></label>
            <div class="col-8">
                <input type="email" class="form-control form-control-lg text mt-3" id="motherPhoneNo" aria-describedby="emailHelp" placeholder="Enter Phone Number">

            </div>
        </div>

        <!--Father's information-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="fatherName"><strong>Father's Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="fatherName" placeholder="Enter Father's Name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="fatherAddress"><strong>Address</strong></label>
            <div class="col-9 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="fatherAddress" placeholder="Enter address">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="fatherEmail"><strong>Father's Email address</strong></label>
            <div class="col-8">
                <input type="email" class="form-control form-control-lg text mt-3" id="fEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="fatherPhoneNo"><strong>Father's Phone Number</strong></label>
            <div class="col-8">
                <input type="text" class="form-control form-control-lg text mt-3" id="fatherPhoneNo" placeholder="Enter Phone Number">
            </div>
        </div>

        <!--Guardian info-->
        <div class="parentguardian container-xl mt-5 pt-1 pb-1">
            <h2 class=" mt-3 ms-4">Guardian Information</h2>
        </div>

        <!--Guardian information-->
        <div class="form-group mt-4 ps-3 py-4">
            <label for="guardianName"><strong>Guardian's Name</strong></label>
            <div class="col-8 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="guardianName" placeholder="Enter Guardian's Name">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="guardianAddress"><strong>Address</strong></label>
            <div class="col-9 pb-2">
                <input type="text" class=" form-control form-control-lg mt-3" id="guardianAddress" placeholder="Enter address">
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="guardianEmail"><strong>Guardian's Email address</strong></label>
            <div class="col-8">
                <input type="email" class="form-control form-control-lg text mt-3" id="guardianEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>

        <div class="form-group mt-4 ps-3 py-4">
            <label for="fatherPhoneNo"><strong>Guardian's Phone Number</strong></label>
            <div class="col-8">
                <input type="text" class="form-control form-control-lg text mt-3" id="guardianPhoneNo" placeholder="Enter Phone Number">
            </div>
        </div>



        <!--submit-->
        <div class="form-group mt-4 ps-3 py-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="getInfoCheck">
                <label class="form-check-label" for="getInfoCheck">
                    By checking this you are allowing the collection of your data...
                </label>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <!--

        phone number
    -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
            <script type="text/javascript">
            $(function () {
                $('#datepicker').datepicker();
            });
        </script>
    
</body>
</html>
