@model EnrollmentSystem.Models.EnrollmentsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
}



@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}

<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
    </div>
   <div class="w-100 overflow-auto py-3">
         <table id="dataTable" class="table table-striped" style="width:100%">
    </table>
    </div>
</section>
@section scripts{
 <script>
    $(document).ready(function() {
    
        
        var enrollmentsData = '@ViewBag.Enrollments';
        var enrollments = JSON.parse(enrollmentsData.replace(/&quot;/g,'"'));
        for(var i = 0; i < enrollments.length; i++){
            let enrollment = enrollments[i];
            enrollments[i] = Object.keys(enrollment).map((key) => enrollment[key]);
            
        }
        var courseTable = $('#dataTable').DataTable( {
            responsive: true,
            data: enrollments,
            columns: [
                { title: "ID" },
                { title: "Student Name" },
                { title: "Course" },
                { title: "School Year" },
                { title: "Status" },
                { title: "Profile File Name" },
                { title: "Report Card File Name" },
                { title: "BirthCertificateFileName" },
                { title: "GoodMoralFileName" },
                { title: "CertificateOfTransferFileName" },
                { title: "HonorableDismissalFileName" },
                { title: "", "defaultContent": "<button class='editItem btn btn-success'>Edit</button>" },
                { title: "", "defaultContent": "<button class='deleteitem btn btn-danger'>Delete</button>" }
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".editItem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Courses/Edit/" + itemId;
        });
        $(".deleteitem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Courses/Delete/" + itemId;
        });
    } );
    
    
 </script>
}



