@model EnrollmentSystem.Models.StatusModel

@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
    var test = "test";
}


@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}

<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
        <a href="/Status/Add" class="btn btn-primary ml-auto">Add Status</a>
    </div>
   <div class="w-100 overflow-auto py-3">
         <table id="dataTable" class="table table-striped" style="width:100%">
    </table>
    </div>
</section>
@section scripts{
 <script>
    $(document).ready(function() {
        var statusData = '@ViewBag.Status';
        var status = JSON.parse(statusData.replace(/&quot;/g,'"'));
        for(var i = 0; i < status.length; i++){
            let currentStatus = status[i];
            status[i] = Object.keys(currentStatus).map((key) => currentStatus[key]);
        }
    
        var statusTable = $('#dataTable').DataTable( {
            responsive: true,
            data: status,
            columns: [
                { title: "ID" },
                { title: "Name" },
                { title: "", "defaultContent": "<button class='editItem btn btn-success'>Edit</button>" },
                { title: "", "defaultContent": "<button class='deleteitem btn btn-danger'>Delete</button>" }
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".editItem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Status/Edit/" + itemId;
        });
        $(".deleteitem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Status/Delete/" + itemId;
        });
    } );
    
    
 </script>
}

