body {
    background-color: #D9EFED;
}
.hello{
    background-color:white;
    border-radius: 10px;
    height:20vh;
}
.form-group{
    background-color: white;
    border-radius: 10px;
}

input{
    width:50vw;
}

strong{
    font-size:17px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}