body {
    background-color: #D9EFED;
}
.hello{
    background-color:white;
    border-radius: 10px;
    height:17vh;
}
.parentguardian {
    background-color: white;
    border-radius: 10px;
    height: 7vh;
}
.form-group{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #CCC;
}

input{
    width:50vw;
}

strong{
    font-size:17px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}