*{
	padding: 0;
	margin: 0;
}
h2,
h4,
h5,
h6{
	color:white;
	text-align:center;
}
body {
	color: white;
	background-image: url(img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'PT Serif', serif;
	height:100vh;
}
.content{
	margin-top: 3vh;
	text-align:center;
}
.btn{
	color:white;
}


.logo{
	margin-top: 9vh;
	width: 100%;
	
}
.logo img{
	width: 50px;
	margin: 0 auto;
	display: block;
}
.container{
	

	margin: 0 auto;
	
	z-index: -1;
}
.dark-bg{
	background-color: #000;
	opacity: .48;
	width: 70%;
	height: 500px;
	z-index: -2;
	
}

.content{
	height:40vh;
}

.form-group {
	margin-top: 4vh;
	
}
.btn-submit{
	margin-top:3vh;
	height:40px;
}
.col-md-7 {
	margin: auto;
	width: 58.33333333%;
}
.input{
	max-width:none;
}
@media (max-device-width: 774px){
	.form-group {
		margin-top:4vh;
	}

}
.body-content {
	background-color: rgba(0, 0, 0, 0.48);
	border-radius:10px;
}

@media(min-device-width: 410px){
	.container {
		
	}

}
@media (min-device-width: 1300px) {

}
@media (min-width: 992px) {
	.container{
		width:700px;
	}
	.col-md-1{
		float: none;
		
	}
	.col-md-7, .col-md-10{
		float:none;
		
	}
	input {
		margin-right: 0 auto;
		display: block;
	}
}