@model EnrollmentSystem.Models.CoursesModel

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
    var courses = ViewBag.Courses;
}


@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
        <a href="/Courses/Add" class="btn btn-primary ml-auto">Add Course</a>
    </div>
   <div class="w-100 overflow-auto py-3">
         <table id="dataTable" class="table table-striped" style="width:100%">
    </table>
    </div>
</section>
@section scripts{
 <script>
    $(document).ready(function() {
    
        
        var coursesData = '@courses';
        var courses = JSON.parse(coursesData.replace(/&quot;/g,'"'));
        for(var i = 0; i < courses.length; i++){
            let course = courses[i];
            courses[i] = Object.keys(course).map((key) => course[key]);
            
        }
        var courseTable = $('#dataTable').DataTable( {
            responsive: true,
            data: courses,
            columns: [
                { title: "ID" },
                { title: "Name" },
                { title: "Description" },
                { title: "", "defaultContent": "<button class='editItem btn btn-success'>Edit</button>" },
                { title: "", "defaultContent": "<button class='deleteitem btn btn-danger'>Delete</button>" }
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".editItem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Courses/Edit/" + itemId;
        });
        $(".deleteitem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Courses/Delete/" + itemId;
        });
    } );
    
    
 </script>
}

