@model EnrollmentSystem.Models.RegistrarsModel

@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
}

<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="w-100 overflow-auto py-3 row">
         <!-- Chart for total enrolled & available slots-->
        <div class="col-md-6 col-sm-12 p-5">
            <h5 class="text-center text-secondary">Enrollment Slot</h5>
            <canvas id="enrollmentSlot" width="400" height="400"></canvas>
        </div>
        
        <!--Chart for enrolled per courses-->
         <div class="col-md-6 col-sm-12 p-5">
            <h5 class="text-center text-secondary">Course Count</h5>
            <canvas id="enrollment" width="400" height="400"></canvas>
        </div>
        
        <!--chart for enrollments by month-->
        <div class="col-12 mt-5" style="padding-left: 15vw; padding-right: 15vw">
            <h5 class="text-center text-secondary">Enrollment Rate per Month</h5>
            <canvas id="enrollmentpermonth" width="400" height="400"></canvas>
        </div>
    </div>
</section>

@section scripts{
    <script>
        showEnrollmentChart();
        showCourseCountChart();    
        showEnrollmentperMonthChart();
        function showEnrollmentChart() {
            //this chat is copied from https://www.chartjs.org/docs/latest/#creating-a-chart
            const ctx = document.getElementById('enrollmentSlot').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Occupied Enrollment Slot', 'Available Enrollment Slot'],
                    datasets: [{
                        label: 'Enrollment Slots',
                        data: [120, 560],
                        backgroundColor: [
                            'rgba(95, 117, 104, 0.5)',
                            'rgba(24, 186, 91, 0.5 )',
                        ],
                        borderColor: [
                            'rgba(95, 117, 104, 1)',
                            'rgba(18, 130, 64 , 1)',
                        ],
                        borderWidth: 1
                    }]
                },
            });
        }
    
        
        function showCourseCountChart() {
            //this chat is copied from https://www.chartjs.org/docs/latest/#creating-a-chart
            const ctx = document.getElementById('enrollment').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['BSCS', 'BS Crim','BSIT','BM','BSHM','BS Psych','BS Ed'],
                    datasets: [{
                        label: 'Course Count',
                        data: [120, 260,100,100,313,342,14],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    },
                  ]
                },
            });
        }
    
        function showEnrollmentperMonthChart() {
            //this chat is copied from https://www.chartjs.org/docs/latest/#creating-a-chart
            const ctx = document.getElementById('enrollmentpermonth').getContext('2d');
           
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['January',
                        'February',
                        'March',
                        'April',
                        'May',
                        'June',
                        ],
                    datasets: [{
                        label: 'Enrollment Per Month',
                        data: [120, 160, 100, 100, 13, 42],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }]
                },
            });
        }
    
    </script>
}
