@model EnrollmentSystem.Models.StatusModel

@{
    ViewBag.Title = "Registars";
    Layout = "~/Views/Shared/Registrar_Layout.cshtml";
}


@if (TempData["MessageResult"] != null)
{
    <div class="alert alert-primary">
        @TempData["MessageResult"]
    </div>
}

@if (TempData["ErrorResult"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorResult"]
    </div>
}

<section class="row pb-5 w-100 overflow-auto">
    <div class="d-flex justify-content-between py-3">
        <h3>@ViewBag.Title</h3>
    </div>
   <div class="w-100 overflow-auto py-3">
         <table id="dataTable" class="table table-striped" style="width:100%">
    </table>
    </div>
</section>
@section scripts{
 <script>
    $(document).ready(function() {
        
        var registrarsData = '@ViewBag.Registrars';
        var registrars = JSON.parse(registrarsData.replace(/&quot;/g,'"'));
        console.log(registrars);
        for(var i = 0; i < registrars.length; i++){
            let registrar = registrars[i];
            registrars[i] = Object.keys(registrar).map((key) => {
                return registrar[key];
            });
            
        }
        var registrarTable = $('#dataTable').DataTable( {
            responsive: true,
            data: registrars,
            columns: [
                { title: "ID" },
                { title: "First Name" },
                { title: "Middle Name" },
                { title: "Last Name" },
                { title: "", "defaultContent": "<button class='deleteitem btn btn-secondary'>Mark as Inactive</button>" }
            ],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
              nRow.setAttribute('id',aData[0]);
              },
            dom: 'Bfrtip',
            buttons: [
                'print','copyHtml5',
            'excelHtml5',
            'pdfHtml5'
            ]
        });
         
        $(".editItem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Registrars/Edit/" + itemId;
        });
        $(".deleteitem").on('click', function(event){
            let itemId = $(this).closest('tr').attr('id');
            location.href = "/Registrars/Delete/" + itemId;
        });
    } );
    
    
 </script>
}

